.container {
    display: flex;
}

.map-container {
    width: 70%; /* Adjust the width as needed */
}

.sidebar {
    width: 30%; /* Adjust the width as needed */
    padding: 10px; /* Add some padding for spacing */
}

#map { height: 700px;
    width: 1060px;}

h1{
    background-image: linear-gradient(to right, rgb(21, 49, 109), rgb(45, 88, 182));
    color:white;
    font-family: Verdana;
}

p {
    font-family: Verdana;
}

h2{
    color: #333;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    font-weight: bold;
    font-size: 15px;
    font-style:unset;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba rgba(0,0,0,0.2);
    background-color: #f6ead5;
    padding: 10px;
    border-radius: 10px;
    border-width: thin;
    border-style: solid;
    margin: 20px 0;
    box-shadow: 0 0px, 5px rgba(255,255,255,0.5);
    transition: background-color 0.3s, transform 0.3s;
}
